*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(173, 218, 192);
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 14%;
}

.parte1{
    background-color: rgb(237, 241, 221);
    color:  rgb(128, 161, 142);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.parte2{
    background-color: rgb(237, 241, 221);
    color:  rgb(128, 161, 142);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proyectos{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 20px;
    background-color: rgb(237, 241, 221);
    color:  rgb(128, 161, 142);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#b1, #b2, #b3{
border-radius: 10px;
padding: 10px;
color: rgb(128, 161, 142);
border: 1px solid  rgb(103, 129, 114);;
}